
<div class="container">
 <div class="newstories-container">

   <h1>Tell Your Story</h1>
   <h6> Let's get you some support.</h6>

   <%= render 'form' %>

   <%= link_to 'Back', stories_path %>



       </div>
     </div>
