@import 'stories.scss';

body{
	font-family: 'Lato', sans-serif;

}

h1,h2,h3,h4 {
	font-weight: bold;
}

h1{
	font-size: 32px;
}

p{
	line-height: 1.85;

}

a{
	color: #4B74FF;
}

/*-----------btn-----*/
.btn-primary {
	border-radius: 25px;
	padding: 0.5rem 1.5rem;
	background-color: #4B74FF;
    border-color: #4B74FF;
    line-height: 1.5;
}

.btn-primary:hover{
	box-shadow: 0px 2px 4px #ccc;
	translate-y: -1px;
	background-color: #4B74FF;

}

.bg-menu{
	background:#4B74FF !important;
}

.navbar-brand img{
	padding-right: 10px;
	width: 42px;
}

.navbar .form-control{
	border-radius: 40px !important;
	border: none;
	margin-right:10px;
}

.mass-head{
	margin-top: 40px;
	margin-bottom: 40px;
	padding: 40px;
	box-shadow: 0px 2px 10px #ccc;
}

.mass-head h1{
	font-size: 32px;
	text-align: center;
}

.mass-head .row{
	text-align: center;
	margin: 0 auto;
}
.mass-head img{
	margin: 40px;
}
.mass-head .img-h{
	height: 180px;
}

.mass-head h4{
	font-size: 21px;
}

.btn.btn-primary {
	p {
		margin: 0;
	}
}


@media (min-width: 1200px) {
	.container {
    max-width: 1024px;
	}
}
