.explore-stories {
  .row {
    justify-content: space-between;
    margin-right: 0;
    margin-left: 0;

    .btn.btn-primary {
      line-height: 1.75;
      background-color: #4B74FF;
    }
  }

  .stories-table {
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 0px 2px 10px #ccc;

    table {
      width: 100%;
      tr {
        border-bottom: 1px solid #d2d2d2;

        td {
          padding: 20px;

          &.count {
            width: 50px;

            .count-text {
              display: flex;
              flex-direction: column;
              align-items: center;
              text-align: center;

              span {
                font-size: 32px;
              }

              p {
                margin: 0;
              }
            }
          }

          &.title {
            a {
              font-size: 21px;
            }

            .tags {
              margin-top: 6px;

              .tag {
                font-size: 0.75rem;
                background: #dde0e5;
                padding: 5px;
                border-radius: .25rem;
              }
            }
          }

          &.status {
            width: 150px;

            .status-text {
              text-align: center;

              img {
                width: 50px;
              }

              .material-icons {
                font-size: 36px;

                &.escalated {
                  color: #EB9316;
                }
                &.got-help {
                  color: #419641;
                }
                &.got-a-job {
                  color: #4B74FF;
                }
              }

              p {
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
}

.stories-container{
	margin-top: 0px;
	margin-bottom: 40px;
  margin-right: 300px;
  margin-left: 300px;
	padding: 40px;
	box-shadow: 0px 2px 10px #ccc;
  width: 450px;

}

.stories-container h1{
	font-size: 20px;
  font-weight: bold;

}

.stories-container .field{
  text-align: center;
}

.stories-container .actions{
  text-align: center;
}

.stories-container .row{
	text-align: center;
	margin: 0 auto;
}
.stories-container img{
	margin: 40px;
}
.stories-container .img-h{
	height: 180px;
}

.stories-container .actions{
	margin-top: 10px;
}



.newstories-container{
	margin-top: 0px;
	margin-bottom: 40px;
  margin-right: 120px;
  margin-left: 180px;
	padding: 40px;
	box-shadow: 0px 2px 10px #ccc;
  width: 700px;
  length: 1900px;

}

.newstories-container h1{
	font-size: 20px;
  font-weight: bold;
  text-align: center;

}

.newstories-container h6{
  text-align: center;

}


.newstories-container .field{
  font-weight: bold;

  input {
    width: 100%;
  }
}

.newstories-container .actions{
  text-align: center;
}

.newstories-container .row{
	text-align: center;
	margin: 0 auto;
}
.newstories-container img{
	margin: 40px;
}
.newstories-container .img-h{
	height: 180px;
}

.newstories-container .actions{
	margin-top: 10px;
}
